.quarto/
_freeze/
.jupyter_cache
_referencia/
**/__pycache__
**/*.pyc
**/*.quarto_ipynb
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.luarc.json
*.csv.gz
datos/listings*.csv

/.quarto/
